.bg-nav {
    background-color: #5C7EBF;
}


.logo-name {
    font-family: 'Cinzel', serif , bold;
    color: #9BB7EC;
   
}
.nav-item {
    font-family: 'Montserrat', sans-serif;
    color: black;
}
